# Ignore node_modules folder
node_modules/

# Ignore public folder
public/

# Ignore package-lock.json and package.json
package-lock.json
package.json

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build folder if created
build/

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore editor-specific files
.vscode/
.idea/
.DS_Store
