@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');


#left-section {
  width: 50%; /* adjust the width as per your requirement */
    height: 100%; /* adjust the height as per your requirement */
    background-color: black; /* adjust the background color as per your requirement */
    float: left; /* to align the left section to the left side */
    position: relative; /* to position the content relative to left-section element */
}

#home {
    width: 80%; /* adjust the width as per your requirement */
    height: 80%; /* adjust the height as per your requirement */
    position: absolute; /* to position the content absolute to left-section element */
    top: 50%; /* position the content at 50% from the top */
    left: 50%; /* position the content at 50% from the left */
    transform: translate(-50%, -50%); /* to center the content both horizontally and vertically */
}

#home h1 {
  color: red; /* adjust the text color as per your requirement */
  font-size: 2rem; /* adjust the font-size as per your requirement */
  margin-bottom: 1rem;
  justify-content: center; /* add some margin bottom for spacing */
}

#home a {
  color: white; /* adjust the text color as per your requirement */
  font-size: 1.5rem; /* adjust the font-size as per your requirement */
  text-align: center; /* to align the text horizontally in the center */
}


#right-section{
  height: 100vh;
  width: 50%;
  background-color:#581111;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
h1{
  color: whitesmoke;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 2.7rem;
  margin-bottom: 1rem;
  text-align:center;
  margin: 0.5%;
}
.learner{
  color: #bfbfbf;
  font-family: 'Sofia Sans', sans-serif;
  font-size:1.75rem;
  margin: 0;
  margin-bottom:1rem;
}

button{
  background-color: #581111;
  font-family: 'Sofia Sans', sans-serif;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  
}
button:hover {
  color: white;
  
  color: black;
}
#social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icons a img{
  margin-left:1rem;
}

#social-icons a img:hover{
    transform: scale(1.2);
}



body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
* { color:#fff; text-decoration: none;}


/* Header styles */
header {
  background-color: black;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 3em;
  margin: 0;
}

/* Navigation styles */
nav {
  background-color:#581111;
  color: #fff;
  text-align: center;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  color: white;
  display: inline-block;
  padding: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}



/* Main content styles */
main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

section {
  margin: 20px 0;
}

section h2 {
  color: white;
  font-size: 2em;
  margin: 0 0 20px;
}

section p {
  color: whitesmoke;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
}

/* Portfolio styles */
.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project img {
  width: 300px;
  height: 300px;
  align : center;
}

/* Contact styles */
form label {
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
}

form input[type="text"], form input[type="email"], form textarea {
  border: 1px solid #ccc;
  color: black;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
}

/* Footer styles */
footer {
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer p {
  color:black;
  margin: 0;
}

a img {
  color: white;
  display:inline-block;
  margin: 10px;
  vertical-align: middle;
}

a:hover img {
  transform: scale(1.2);
}