* {
  margin: 0;
  padding: 0;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color:#581111;
  
  }
  nav ul{
    display: flex;
    justify-content: center;
  }
  nav ul li{
    list-style: none;
    margin: 0 23px;
  }
  .left{
    font-size: 1.5rem;
  }
  