
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
* {
  outline: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 1.2;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #505050;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  font-family: inherit;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: url(../images/icons/cursors/cursor.svg), auto;
}

.layout {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

::-moz-selection {
  color: #fff;
  background: rgba(214, 154, 245, 0.3);
}

::selection {
  color: #fff;
  background: rgba(214, 154, 245, 0.3);
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 83px;
  line-height: 106px;
  color: #45FFEC;
  padding: 0;
  margin: 0 0 70px 0;
}

.container {
  width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.svg-sprite {
  display: none;
}

.icon {
  display: block;
}
.icon svg {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

p:last-of-type {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

a {
  cursor: url(../images/icons/cursors/cursor_pointer.svg) 50 50, pointer;
  text-decoration: none;
}

.row-with-2-columns {
  display: grid;
  grid-template-columns: calc(50% - 48px / 2 ) calc(50% - 48px / 2);
  grid-gap: 48px;
}

@keyframes logo-glitched {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-100%);
  }
}
.logo-glitched {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 100%;
  transform: translateX(300px);
  animation-name: logo-glitched;
  animation-timing-function: linear;
  animation-duration: 8.8s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
  animation-fill-mode: none;
  text-align: right;
  will-change: transform;
}
.logo-glitched .icon {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 33px;
}

.index-0 {
  z-index: 0;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.draggable {
  cursor: url(../images/icons/cursors/cursor_drag.svg) 50 50, auto;
}
.draggable:active {
  cursor: url(../images/icons/cursors/cursor_hold.svg) 50 50, auto;
}

.form {
  background-color: #000;
  padding: 4px;
  width: 1222px;
  margin-left: auto;
  margin-right: auto;
}
.form p {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #1BDFCB;
  margin: 0;
  padding: 0;
}

.form-header {
  background-color: #0DB7A2;
  margin-bottom: 4px;
  position: relative;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form-header:before {
  content: "";
  position: absolute;
  z-index: 0;
  display: block;
  height: 22px;
  width: calc(100% - 8px);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  left: 4px;
  top: 8px;
}
.form-header:after {
  content: "";
  position: absolute;
  z-index: 0;
  display: block;
  height: 2px;
  width: calc(100% - 8px);
  background-color: #000;
  left: 4px;
  top: 19px;
}
.form-header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  padding: 5px 50px;
  margin: 0;
  position: relative;
  z-index: 1;
  background-color: #0DB7A2;
  display: inline-block;
  vertical-align: top;
  user-select: none;
}

.form-body {
  border: 2px solid #0DB7A2;
  padding: 52px;
}

@media screen and (max-width: 1199px) {
  .form-body {
    padding: 24px;
  }
}
@media screen and (max-width: 520px) {
  .form-header h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.text-input input, .text-input textarea {
  display: block;
  border: 2px solid #0DB7A2;
  height: 70px;
  width: 100%;
  padding: 0 32px;
  margin: 0;
  background-color: transparent;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #0DB7A2;
  cursor: url(../images/icons/cursors/cursor_text.svg), auto;
  max-width: 100%;
  transition: border-color 270ms ease;
}
.text-input input::placeholder, .text-input textarea::placeholder {
  color: #0DB7A2;
}
.text-input input:focus, .text-input textarea:focus {
  border-color: #E8BDFF;
}
.text-input input:focus::placeholder, .text-input textarea:focus::placeholder {
  color: #5A5A5A;
}

.text-input textarea {
  font-family: "Inter", sans-serif;
  height: 188px;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media screen and (max-width: 520px) {
  .text-input input, .text-input textarea {
    font-size: 18px;
    line-height: 22px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .text-input input {
    height: 50px;
    line-height: 50px;
  }
}
.button-primary {
  background: #0DB7A2;
  color: #000;
  font-weight: 500;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  cursor: url(../images/icons/cursors/cursor_pointer.svg) 50 50, pointer;
  border: 2px solid transparent;
  transition: background-color 270ms ease, border-color 270ms ease;
  user-select: none;
}
.button-primary:hover {
  background-color: #1BDFCB;
}
.button-primary:focus {
  background-color: #1BDFCB;
  border-color: #E8BDFF;
}
.button-primary:active {
  background-color: #0DB7A2;
}

.button-secondary {
  background: #0C000B;
  color: #D69AF5;
  font-weight: 500;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  cursor: url(../images/icons/cursors/cursor_pointer.svg) 50 50, pointer;
  border: 2px solid transparent;
  transition: background-color 270ms ease, border-color 270ms ease;
  user-select: none;
}
.button-secondary:hover {
  color: #E8BDFF;
}
.button-secondary:focus {
  color: #E8BDFF;
  border-color: #E8BDFF;
}
.button-secondary:active {
  color: #D69AF5;
}

.button-attach {
  background: none;
  color: #0DB7A2;
  border: 0;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  cursor: url(../images/icons/cursors/cursor_pointer.svg) 50 50, pointer;
  transition: color 270ms ease;
  user-select: none;
}
.button-attach input {
  display: none;
}
.button-attach input::-webkit-file-upload-button {
  visibility: hidden;
}
.button-attach .icon {
  display: block;
  height: 28px;
  width: 14px;
}
.button-attach:hover, .button-attach:focus {
  color: #1BDFCB;
}
.button-attach:active {
  color: #0DB7A2;
}

@media screen and (max-width: 520px) {
  .button-primary, .button-secondary {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
.rabbits-area {
  position: relative;
  cursor: url(../images/icons/cursors/cursor_click.svg) 27 50, auto;
}
.rabbits-area:after {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.rabbits-area .rabbit {
  display: none;
}
.rabbits-area > div {
  z-index: 1;
}
.rabbits-area .form-body {
  position: relative;
  z-index: 2;
}

.rabbits-overlay {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.5;
  height: 300px;
  width: 300px;
  pointer-events: none;
}

#debug, #debug2 {
  position: absolute;
  display: none;
}

.rabbit-spawned {
  width: 47px;
  height: 66px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center center;
  background-size: cover;
  pointer-events: none;
  background-image: url("../images/icons/rabbit.svg");
}

.above-the-clouds-section {
  background-image: url(../images/backgrounds/above_the_clouds_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
  overflow: hidden;
  position: relative;
}

.page-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 140px;
  transform: translateY(20px);
  font-family: "Space Grotesk", sans-serif;
  color: #6969FB;
}

@keyframes arrow-animate-1 {
  0% {
    fill: transparent;
  }
  25% {
    fill: #0DB7A2;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: transparent;
  }
}
@keyframes arrow-animate-2 {
  0% {
    fill: transparent;
  }
  25% {
    fill: transparent;
  }
  50% {
    fill: #0DB7A2;
  }
  100% {
    fill: transparent;
  }
}
@keyframes arrow-animate-3 {
  0% {
    fill: transparent;
  }
  25% {
    fill: transparent;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: #0DB7A2;
  }
}
.scroll-down-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  user-select: none;
}

.scroll-down {
  display: block;
  color: #0DB7A2;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-top: 20vh;
}
.scroll-down svg {
  overflow: visible;
  display: block;
}
.scroll-down svg:nth-child(1) path {
  animation-name: arrow-animate-1;
  animation-delay: 0ms;
}
.scroll-down svg:nth-child(2) path {
  animation-name: arrow-animate-2;
}
.scroll-down svg:nth-child(3) path {
  animation-name: arrow-animate-3;
}
.scroll-down svg:not(:last-of-type) {
  margin-bottom: 15px;
}
.scroll-down svg path {
  overflow: visible;
  stroke-width: 2px;
  stroke: #0DB7A2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-duration: 2000ms;
}

.zoom-elements {
  transform-origin: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1921px) {
  .zoom-elements {
    width: 1920px;
  }
}
.cloud, .snake, .rabbit, .coin {
  position: absolute;
}

.snake {
  width: 71px;
  height: 50px;
}

.rabbit {
  width: 47px;
  height: 66px;
}
.rabbit .icon {
  height: 100%;
}

.coin {
  width: 59px;
  height: 55px;
}

.cloud-1 {
  width: 142px;
  height: 74px;
  left: -53px;
  top: 714px;
}

.cloud-2 {
  width: 142px;
  height: 74px;
  left: -26px;
  top: 902px;
}

.cloud-3 {
  width: 212px;
  height: 108px;
  left: 45px;
  top: 781px;
}

.cloud-4 {
  width: 142px;
  height: 74px;
  left: 153px;
  top: 646px;
}

.cloud-5 {
  width: 94px;
  height: 49px;
  left: 153px;
  top: 892px;
}

.cloud-6 {
  width: 136px;
  height: 70px;
  left: 264px;
  top: 736px;
}

.cloud-7 {
  width: 212px;
  height: 108px;
  left: 258px;
  top: 876px;
}

.cloud-8 {
  width: 160px;
  height: 82px;
  left: 470px;
  top: 788px;
}

.cloud-9 {
  width: 193px;
  height: 98px;
  left: 480px;
  top: 637px;
}

.cloud-10 {
  width: 74px;
  height: 38px;
  left: 568px;
  top: 886px;
}

.cloud-11 {
  width: 94px;
  height: 49px;
  left: 693px;
  top: 769px;
}

.cloud-12 {
  width: 193px;
  height: 98px;
  left: 693px;
  top: 904px;
}

.cloud-13 {
  width: 130px;
  height: 66px;
  left: 824px;
  top: 666px;
}

.cloud-14 {
  width: 210px;
  height: 110px;
  left: 852px;
  top: 781px;
}

.cloud-15 {
  width: 84px;
  height: 43px;
  left: 1001px;
  top: 919px;
}

.cloud-16 {
  width: 123px;
  height: 63px;
  left: 1122px;
  top: 758px;
}

.cloud-17 {
  width: 138px;
  height: 71px;
  left: 1129px;
  top: 953px;
}

.cloud-18 {
  width: 180px;
  height: 92px;
  left: 1155px;
  top: 849px;
}

.cloud-19 {
  width: 133px;
  height: 70px;
  left: 1272px;
  top: 691px;
}

.cloud-20 {
  width: 113px;
  height: 57px;
  left: 1424px;
  top: 770px;
}

.cloud-21 {
  width: 138px;
  height: 71px;
  left: 1430px;
  top: 848px;
}

.cloud-22 {
  width: 73px;
  height: 38px;
  left: 1498px;
  top: 702px;
}

.cloud-23 {
  width: 138px;
  height: 71px;
  left: 1510px;
  top: 932px;
}

.cloud-24 {
  width: 97px;
  height: 51px;
  left: 1581px;
  top: 760px;
}

.cloud-25 {
  width: 152px;
  height: 80px;
  left: 1619px;
  top: 667px;
}

.cloud-26 {
  width: 91px;
  height: 48px;
  left: 1627px;
  top: 860px;
}

.cloud-27 {
  width: 212px;
  height: 108px;
  left: 1695px;
  top: 873px;
}

.snake-1 {
  left: 226px;
  top: calc(75vh + 364px);
}

.snake-2 {
  left: 1279px;
  top: calc(75vh + 570px);
}

.snake-3 {
  left: 457px;
  top: calc(75vh + 934px);
}

.coin-1 {
  left: 96px;
  top: calc(75vh + 480px);
}

.coin-2 {
  left: 827px;
  top: calc(75vh + 574px);
}

.coin-3 {
  left: 1302px;
  top: calc(75vh + 947px);
}

.coin-4 {
  left: 1578px;
  top: calc(75vh + 600px);
}

.rabbit-1 {
  left: 947px;
  top: calc(75vh + 347px);
}

.rabbit-2 {
  left: 237px;
  top: calc(75vh + 652px);
}

.rabbit-3 {
  left: 938px;
  top: calc(75vh + 908px);
}

.esports-section {
  background-image: url(../images/backgrounds/esports_background.jpg);
  background-size: 34px 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  height: 2160px;
  overflow: hidden;
  position: relative;
}
.esports-section .container {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
}

.esports-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  color: #45FFEC;
}

.esports-words {
  position: relative;
  width: 254px;
  display: inline-block;
  vertical-align: text-top;
  margin: 0 -10px 0 10px;
}

.esports-word {
  position: absolute;
  left: -10px;
  top: -5px;
  width: 100%;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6969FB;
}

.esports-word-1 {
  background-color: #B8D15E;
  color: #F25917;
}

.esports-word-2 {
  background-color: #EBD131;
  color: #F25917;
}

.esports-word-3 {
  background-color: #258E87;
  color: #F28017;
}

.esports-images {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.esports-images li {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
}

@media screen and (min-width: 1921px) {
  .esports-images {
    position: relative;
    height: 100%;
    width: 1920px;
    top: -100%;
  }
}
@media screen and (max-width: 1619px) {
  .esports-text {
    font-size: 52px;
    line-height: 84px;
  }
}
@media screen and (max-width: 1199px) {
  .esports-images li:not(.keep-on-tablet) {
    display: none;
  }
  .esports-text {
    font-size: 52px;
    line-height: 84px;
  }
}
@media screen and (max-width: 520px) {
  .esports-images {
    display: none;
  }
  .esports-word:not(.esports-word-4) {
    display: none;
  }
  .esports-words {
    width: auto;
    margin: 0;
  }
  .esports-word-4 {
    position: static;
    padding: 3px 7px;
    height: auto;
    width: auto;
  }
  .esports-text {
    font-size: 32px;
    line-height: 58px;
  }
  .esports-section {
    height: auto;
  }
  .esports-section .container {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 27;
  font-family: "Space Grotesk", sans-serif;
}
.header a {
  color: #0DB7A2;
}
.header.show-mobile-nav .toggle-mobile-nav {
  background-color: #1BDFCB;
  color: #000;
}

.main-nav {
  padding: 20px;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  align-items: center;
  justify-content: center;
}

.logo-svg {
  height: 30px;
  width: 43px;
  overflow: visible;
}

.logo-glasses {
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 810ms ease, opacity 810ms ease;
}

.logo {
  cursor: url(../images/icons/cursors/cursor_boss.svg) 50 10, auto;
}
.main-links {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.main-links li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 75px 0 0;
}
.main-links li:last-of-type {
  margin-right: 0;
}
.main-links .icon {
  display: none;
}
.main-links a {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #0DB7A2;
  position: relative;
  padding: 4px 5px 6px 5px;
  overflow: hidden;
  display: block;
  transition: color 270ms ease;
}
.main-links a:before, .main-links a:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: calc(100% + 1px);
  top: calc(100% - 2px);
  left: -1px;
  transform: translateX(-100%);
}
.main-links a:before {
  background-color: #D69AF5;
  transition: transform 270ms ease;
}
.main-links a:after {
  background-color: #1BDFCB;
  transition-delay: 270ms;
  transition: transform 270ms ease;
}
.main-links a:hover, .main-links a:focus {
  color: #1BDFCB;
}
.main-links a:hover:before, .main-links a:focus:before {
  transform: translateX(100%);
}
.main-links a:hover:after, .main-links a:focus:after {
  transform: translateX(0%);
  transition-delay: 270ms;
}

.social-links {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
}
.social-links li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 20px 0 0;
}
.social-links li:last-of-type {
  margin-right: 0;
}
.social-links span {
  display: none;
}
.social-links .icon {
  display: block;
  width: 30px;
  height: 28px;
}
.social-links a {
  transition: color 270ms ease;
}
.social-links a:hover {
  color: #1BDFCB;
}
.social-links a:focus {
  color: #1BDFCB;
}
.social-links a:active {
  color: #0DB7A2;
}

.toggle-mobile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36px;
  border: 0;
  background-color: transparent;
  color: #1BDFCB;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}
.toggle-mobile-nav .icon {
  width: 22px;
  height: 24px;
}

@media screen and (min-width: 1200px) {
  .toggle-mobile-nav {
    display: none;
  }
  .header.sticky:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 77px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }
  .header.sticky .main-links {
    display: block;
  }
  .header.sticky .social-links {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .main-links, .social-links {
    position: absolute;
    right: 20px;
    background-color: #000;
    border: 2px solid #1BDFCB;
    width: 240px;
    display: none;
  }
  .main-links li, .social-links li {
    display: block;
    margin: 0;
  }
  .main-links a, .social-links a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 12px 24px;
  }
  .main-links .icon, .social-links .icon {
    display: block;
    width: 30px;
    height: 28px;
  }
  .main-links {
    top: 60px;
  }
  .main-links li:last-of-type {
    border-top: 2px solid #1BDFCB;
  }
  .social-links {
    top: 275px;
  }
  .social-links span {
    display: block;
  }
  .show-mobile-nav .main-links, .show-mobile-nav .social-links {
    display: block;
  }
}
.services {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url(../images/backgrounds/background_1.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 100%;
}

.services-list {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-list-item {
  position: relative;
  padding-bottom: 70px;
  padding-top: 70px;
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.services-list-item-border {
  display: block;
  position: absolute;
  height: 10px;
  width: 200vw;
  left: -50vw;
  top: calc(100% - 10px);
  background-image: url(../images/icons/plus.svg);
  background-repeat: repeat-x;
}

.services-list-item-title {
  align-self: self-start;
  width: 100%;
  display: block;
  white-space: nowrap;
  position: relative;
}
.services-list-item-title .icon {
  display: block;
  position: absolute;
  height: 32px;
  width: 43px;
  left: 0;
  top: 8px;
}
.services-list-item-title h3 {
  display: block;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  padding: 0;
  margin: 0;
  word-break: break-word;
  text-indent: 53px;
  font-family: "Space Grotesk", sans-serif;
}

.services-list-item-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1619px) {
  .services-list-item-title .icon {
    width: 36px;
    height: 26px;
  }
  .services-list-item-title h3 {
    font-size: 36px;
    line-height: 44px;
  }
  .services-list-item-text p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1199px) {
  .services-list-item {
    position: relative;
    grid-template-columns: 100%;
  }
  .services-list-item .tablet-and-less {
    display: block;
    width: 30px;
    height: 18px;
    position: absolute;
    right: 15px;
    top: 90px;
    transition: transform 270ms ease;
  }
  .services-list-item:hover .tablet-and-less, .services-list-item:focus .tablet-and-less, .services-list-item:active .tablet-and-less {
    transform: rotate(180deg);
  }
  .services-list-item:hover .services-list-item-text, .services-list-item:focus .services-list-item-text, .services-list-item:active .services-list-item-text {
    display: block;
  }
  .services-list-item-text {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .services {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .services-list-item-title h3 {
    font-size: 28px;
    line-height: 34px;
    text-indent: 33px;
  }
  .services-list-item-title .icon {
    width: 28px;
    height: 20px;
  }
  .services-list-item {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .services-list-item .tablet-and-less {
    top: 60px;
  }
}
.products {
  padding-top: 90px;
  padding-bottom: 90px;
}
.products p {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #fff;
  width: 60%;
}

.list-portfolio {
  padding: 64px 0 0 0;
  margin: 140px 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: calc(50% - 48px / 2) calc(50% - 24px);
  grid-gap: 48px;
  width: 100%;
}
.list-portfolio li {
  display: block;
  padding: 0;
  margin: 0;
}
.list-portfolio li:nth-child(odd) .portfolio-item {
  cursor: url(../images/icons/cursors/cursor_download_green.svg), auto;
  color: #1BDFCB;
}
.list-portfolio li:nth-child(even) .portfolio-item {
  cursor: url(../images/icons/cursors/cursor_download_pink.svg), auto;
  color: #D69AF5;
}

.portfolio-item {
  display: block;
  position: relative;
  border-left: 4px solid currentColor;
  border-right: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
  text-decoration: none;
  transition: background-color 270ms ease;
}
.portfolio-item:hover, .portfolio-item:focus {
  background-color: #171717;
}
.portfolio-item:hover .portfolio-item-overlay, .portfolio-item:focus .portfolio-item-overlay {
  opacity: 1;
}
.portfolio-item:hover .portfolio-item-body, .portfolio-item:focus .portfolio-item-body {
  background-color: #171717;
}
.portfolio-item:hover .portfolio-item-image, .portfolio-item:focus .portfolio-item-image {
  background-color: #171717;
}
.portfolio-item:hover .portfolio-item-header, .portfolio-item:focus .portfolio-item-header {
  background-color: #171717;
}
.portfolio-item:hover .portfolio-item-header:before, .portfolio-item:focus .portfolio-item-header:before {
  background-color: #171717;
}

.portfolio-item-header {
  position: absolute;
  left: -4px;
  top: -60px;
  height: 64px;
  width: 178px;
  border-left: 4px solid currentColor;
  border-top: 4px solid currentColor;
  background-color: #000;
  font-weight: 600;
  font-size: 36px;
  padding: 16px 0 0 40px;
  transition: background-color 270ms ease;
}
.portfolio-item-header:before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 128px;
  height: 64px;
  background-color: #000;
  border-top: 4px solid currentColor;
  transform: rotate(63deg) translate(1px, 74px);
  transition: background-color 270ms ease;
}
.portfolio-item-header:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(100% - 30px);
  top: -4px;
  width: 30px;
  height: 4px;
  background-color: currentColor;
}

.portfolio-item-body {
  background-color: #000;
  border-top: 4px solid currentColor;
  transition: background-color 270ms ease;
}

.portfolio-item-image {
  position: relative;
  z-index: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 0 40px;
  height: 610px;
  transition: background-color 270ms ease;
}
.portfolio-item-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.portfolio-item-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 270ms ease;
  will-change: opacity;
}
.portfolio-item-overlay .icon {
  width: 140px;
  height: 140px;
  display: none;
}
.portfolio-item-overlay .text {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}

.portfolio-item-footer {
  padding: 30px 40px;
  width: 80%;
  height: 172px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.portfolio-item-footer h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

@media screen and (max-width: 1619px) {
  .products p {
    font-size: 32px;
    line-height: 50px;
  }
  .portfolio-item-image {
    height: 414px;
  }
  .portfolio-item-footer {
    width: 100%;
    height: 152px;
  }
  .portfolio-item-footer h3 {
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1619px) {
  .products p {
    font-size: 32px;
    line-height: 50px;
    width: 95%;
  }
  .portfolio-item-footer h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .portfolio-item-image {
    height: 275px;
  }
  .portfolio-item-footer {
    height: 132px;
  }
}
@media screen and (max-width: 520px) {
  .products p {
    font-size: 24px;
    line-height: 34px;
    width: 95%;
  }
  .list-portfolio {
    grid-template-columns: 100%;
  }
  .list-portfolio li:not(:last-of-type) {
    margin-bottom: 50px;
  }
  .portfolio-item-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
  }
  .portfolio-item-footer h3 {
    font-size: 24px;
    line-height: 34px;
  }
  .portfolio-item-image {
    height: auto;
    padding: 10px 10px 0 10px;
  }
  .portfolio-item-footer {
    height: 100px;
    padding: 18px 24px;
  }
  .products {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.board {
  padding-bottom: 90px;
  padding-top: 90px;
  overflow: hidden;
}

.board-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
.board-list li {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.board-list-item {
  display: block;
  position: relative;
  padding-bottom: 123px;
}
.board-list-item:hover .on-hover, .board-list-item:focus .on-hover {
  opacity: 1;
}
.board-list-item:hover .high-five, .board-list-item:focus .high-five {
  opacity: 1;
}
.board-list-item:hover .sticker, .board-list-item:focus .sticker {
  opacity: 1;
}

.board-list-item-image {
  position: relative;
  z-index: 1;
}
.board-list-item-image img {
  display: block;
  width: 100%;
  transition: opacity 270ms ease;
  will-change: opacity;
}
.board-list-item-image .on-hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.sticker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center;
  opacity: 0;
  transition: opacity 270ms ease;
  transition-delay: 100ms;
  will-change: opacity;
}

.board-list-item-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  padding: 0;
  margin: 40px 0 8px 0;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1BDFCB;
  color: transparent;
  position: absolute;
  z-index: 1;
  bottom: 32px;
  left: 0;
}

.board-list-item-name--outlined {
  color: #1BDFCB;
  z-index: -1;
}

.board-list-item-position {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.splide {
  position: relative;
  cursor: url(../images/icons/cursors/cursor_drag.svg) 50 50, auto;
}
.splide:active {
  cursor: url(../images/icons/cursors/cursor_hold.svg) 50 50, auto;
}

.splide__arrows {
  user-select: none;
  position: absolute;
  right: 0;
  top: -157px;
  cursor: url(../images/icons/cursors/cursor.svg), auto;
}

.splide__arrow {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  background-color: #0DB7A2;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  cursor: url(../images/icons/cursors/cursor_pointer.svg) 50 50, pointer;
  border: 2px solid transparent;
  transition: background-color 270ms ease, border-color 270ms ease;
}
.splide__arrow:hover {
  background-color: #1BDFCB;
}
.splide__arrow:focus {
  background-color: #1BDFCB;
  border-color: #E8BDFF;
}
.splide__arrow:active {
  background-color: #0DB7A2;
}
.splide__arrow:disabled {
  background-color: #5A5A5A;
  cursor: url(../images/icons/cursors/cursor.svg), auto;
}
.splide__arrow .icon {
  width: 21px;
  height: 35px;
}

.high-five {
  position: absolute;
  left: 10px;
  top: 60px;
  opacity: 0;
  transition: opacity 270ms ease;
  will-change: opacity;
}
.high-five .hand-icon {
  display: block;
  width: 100px;
  height: 100px;
  transition: transform 100ms ease-in-out;
  will-change: transform;
}
.high-five .dashes-icon {
  position: absolute;
  left: -36px;
  top: -73px;
  transform: scale(0.6) rotate(0deg);
}
.high-five .dashes-icon line {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  will-change: transform;
}
.high-five .high-five-circle {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: rgba(214, 154, 245, 0.3);
  width: 250px;
  height: 250px;
  border-radius: 250px;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  will-change: transform;
}
.high-five:hover .hand-icon {
  transform: rotate(10deg);
}
.high-five.animating {
  cursor: url(../images/icons/cursors/cursor_drag.svg) 50 50, auto;
}
.high-five.animating .dashes-icon line {
  animation-name: dashes;
}
.high-five.animating .high-five-circle {
  animation-name: circle;
}

@keyframes dashes {
  0% {
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes circle {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
#highfive {
  display: none;
}

@media screen and (max-width: 1619px) {
  .board-list-item-name {
    font-size: 28px;
    line-height: 40px;
  }
  .board-list-item-position {
    font-size: 24px;
    line-height: 36px;
  }
  .high-five {
    left: 0;
    top: 30px;
  }
}
@media screen and (max-width: 520px) {
  .board-list-item-name {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 1px;
  }
  .board-list-item-position {
    font-size: 18px;
    line-height: 24px;
    bottom: 10px;
  }
  .splide__arrows {
    display: none;
  }
  .board-list-item {
    padding-bottom: 90px;
  }
}
.vacancies {
  background-color: #E8BDFF;
  overflow: hidden;
}
.vacancies .container {
  padding: 48px 0 48px 166px;
  position: relative;
}
.vacancies .container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -300px;
  height: 100%;
  width: 1160px;
  background-image: url(../images/old_computer.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
.vacancies .button-wrap {
  width: 517px;
}

.promo-title {
  white-space: nowrap;
  position: relative;
}
.promo-title h2 {
  display: inline-block;
  vertical-align: top;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 83px;
  line-height: 108px;
  color: #000;
  text-indent: 222px;
}

.list-flames {
  padding: 0;
  margin: 21px 0 0 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  color: #FA00FF;
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
}
.list-flames li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 14px 0 0;
  width: auto;
  position: relative;
}
.list-flames li:last-child {
  margin-right: 0;
}
.list-flames li .icon {
  width: 57px;
  height: 70px;
}

@keyframes flame-animate-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flame-animate-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flame-animate-3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flame-animate {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation-name: flame-animate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-duration: 2000ms;
}

.flame-animate-1 {
  animation-name: flame-animate-1;
  animation-delay: 0ms;
}

.flame-animate-2 {
  animation-name: flame-animate-2;
}

.flame-animate-3 {
  animation-name: flame-animate-3;
}

@media screen and (max-width: 1619px) {
  .promo-title h2 {
    font-size: 72px;
    line-height: 94px;
    text-indent: 200px;
  }
  .list-flames li .icon {
    width: 48px;
    height: 60px;
  }
  .vacancies .container {
    padding-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .list-flames {
    display: block;
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }
  .promo-title h2 {
    text-indent: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .vacancies .button-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 430px;
  }
  .vacancies .container:before {
    top: 90px;
    right: -160px;
  }
}
@media screen and (max-width: 520px) {
  .list-flames {
    margin-bottom: 20px;
  }
  .list-flames li .icon {
    width: 24px;
    height: 30px;
  }
  .promo-title h2 {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 50px;
  }
  .vacancies .button-wrap {
    width: 100%;
    margin-top: 200px;
  }
  .vacancies .container:before {
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    width: 390px;
  }
}
.we-work-with {
  padding-top: 90px;
  padding-bottom: 90px;
}

.logos-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.logos-list li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.logos-list-item {
  cursor: default;
  text-decoration: none;
}
.logos-list-item img {
  height: 70px;
}

@media screen and (max-width: 1619px) {
  .logos-list li {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1199px) {
  .logos-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 48px;
  }
  .logos-list li {
    transform: scale(1);
  }
  .we-work-with {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 520px) {
  .logos-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(48px / 2);
  }
}
.stay-tuned {
  padding-top: 350px;
  padding-bottom: 210px;
  background-image: url(../images/backgrounds/background_stay_with_us.jpg);
  background-repeat: repeat-x;
  background-position: -5px 0;
  background-size: 35px 100%;
}

.form-stay-tuned .form-content {
  display: grid;
  grid-template-columns: 150px calc(100% - 150px - 48px);
  grid-gap: 48px;
  align-items: center;
  justify-content: center;
  padding-bottom: 48px;
  width: 100%;
}
.form-stay-tuned .form-footer {
  display: grid;
  grid-template-columns: calc(100% - 255px - 48px) 255px;
  grid-gap: 48px;
  width: 100%;
}

.footer {
  background-image: url(../images/backgrounds/background_footer.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 100%;
  overflow: visible;
  font-family: "Space Grotesk", sans-serif;
}
.footer .container {
  height: 346px;
}

.footer-logo {
  height: 280px;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer-logo img {
  width: auto;
  height: 100%;
}

.list-social {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding: 120px 0 0 0;
  margin: 0;
  column-count: 2;
  column-gap: 20px;
  position: relative;
  z-index: 1;
}
.list-social li {
  display: block;
  padding: 0;
  margin: 0 0 16px 0;
}
.list-social li:last-of-type {
  margin-bottom: 0;
}
.list-social a {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #0DB7A2;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 43px;
}
.list-social a .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 28px;
}
.footer-rabbit-1 {
  left: 13px;
  bottom: 50px;
  transform: rotate(-45deg);
}

.footer-rabbit-2 {
  left: 45px;
  bottom: -8px;
  transform: rotate(-90deg);
}

.footer-rabbit-3 {
  left: -18px;
  top: 9px;
  transform: rotate(90deg);
}

.footer-rabbit-4 {
  left: -320px;
  bottom: -8px;
  transform: rotate(-90deg);
}

.footer-rabbit-5 {
  left: -272px;
  bottom: 45px;
  transform: rotate(16deg);
}

.footer-rabbit-6 {
  left: -230px;
  bottom: -8px;
  transform: rotate(90deg);
}

.footer-rabbit-7 {
  left: -167px;
  bottom: 2px;
  transform: rotate(-25deg);
}

.footer-rabbit-8 {
  left: 230px;
  bottom: 270px;
  transform: rotate(-90deg);
}

.footer-rabbit-9 {
  left: 370px;
  bottom: 270px;
  transform: rotate(-90deg);
}

.footer-rabbit-10 {
  left: 435px;
  bottom: 278px;
  transform: rotate(0deg);
}

.footer-rabbit-11 {
  left: 510px;
  bottom: 270px;
  transform: rotate(90deg);
}

.footer-rabbit-12 {
  left: 657px;
  bottom: 120px;
  transform: rotate(-21deg);
}

.footer-rabbit-13 {
  left: 712px;
  bottom: 75px;
  transform: rotate(-21deg);
}

.footer-rabbit-14 {
  left: 703px;
  bottom: 4px;
  transform: rotate(-30deg);
}

.footer-rabbit-15 {
  left: 772px;
  bottom: 90px;
  transform: rotate(90deg);
}

.footer-rabbit-16 {
  left: 795px;
  bottom: 41px;
  transform: rotate(-90deg);
}

.footer-rabbit-17 {
  left: 769px;
  bottom: -8px;
  transform: rotate(90deg);
}

.footer-rabbit-18 {
  left: 839px;
  bottom: -8px;
  transform: rotate(-90deg);
}

@media screen and (max-width: 1199px) {
  .footer .container {
    height: auto;
  }
  .footer .rabbit {
    display: none;
  }
  .list-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 75px;
  }
  .list-social li {
    margin: 0;
  }
  .list-social a .icon {
    width: 44px;
    height: 41px;
  }
  .list-social span {
    display: none;
  }
  .footer-logo {
    position: static;
    text-align: center;
    height: auto;
  }
  .footer-logo img {
    display: inline-block;
    vertical-align: bottom;
  }
}
.contact-us {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url(../images/backgrounds/contact_us_background.jpg);
  background-repeat: repeat-x;
  background-size: 35px 100%;
}
.contact-us:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  background-image: url(../images/backgrounds/contact_us_overlay.png);
  background-repeat: repeat;
  background-size: cover;
}

.form-contact-us .form-footer {
  display: block;
  margin-top: 48px;
  text-align: right;
}
.form-contact-us .form-footer .button-wrap {
  display: inline-block;
  vertical-align: top;
  width: 255px;
}
.form-contact-us .row:not(:last-of-type) {
  margin-bottom: 48px;
}

.contact-us-section {
  position: relative;
  background-image: url(../images/backgrounds/background_stay_with_us.jpg);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 35px 100%;
  align-items: flex-start;
  height: 1200px;
}
.contact-us-section:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  user-select: none;
  pointer-events: none;
}
.contact-us-section .container {
  margin-top: 400px;
}

.rabbits-wrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.rabbits-wrap .rabbit {
  pointer-events: all;
}

.contact-rabbit-1 {
  left: calc(50% - 520px);
  top: 334px;
}

.contact-rabbit-2 {
  left: calc(50% - 430px);
  top: 344px;
  transform: rotate(90deg);
}

.contact-rabbit-3 {
  left: calc(50% - 400px);
  top: 214px;
  transform: rotate(-17deg);
}

.contact-rabbit-4 {
  left: calc(50% - 200px);
  top: 284px;
  transform: rotate(-32deg);
}

.contact-rabbit-5 {
  left: calc(50% - 100px);
  top: 144px;
  transform: rotate(24deg);
}

.contact-rabbit-6 {
  left: calc(50% + 50px);
  top: 344px;
  transform: rotate(-90deg);
}

.contact-rabbit-7 {
  left: calc(50% + 80px);
  top: 287px;
  transform: rotate(16deg);
}

.contact-rabbit-8 {
  left: calc(50% + 123px);
  top: 334px;
}

.contact-rabbit-9 {
  left: calc(50% + 150px);
  top: 84px;
  transform: rotate(24deg);
}

.contact-rabbit-10 {
  left: calc(50% + 330px);
  top: 344px;
  transform: rotate(90deg);
}

@media screen and (max-width: 1619px) {
  .contact-us-section .form {
    width: 918px;
  }
}
@media screen and (max-width: 1199px) {
  .contact-us-section {
    height: auto;
  }
  .contact-us-section .container {
    margin-top: 210px;
  }
  .contact-us-section .form {
    width: calc(100% - 15px - 15px);
  }
  .rabbits-wrap .rabbit {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .contact-us-section .container {
    margin-top: 210px;
  }
  .contact-us-section .form {
    width: 100%;
  }
  .row-with-2-columns {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: calc(48px / 2);
  }
  .form-contact-us .row:not(:last-of-type) {
    margin-bottom: calc(48px / 2);
  }
  .form-contact-us .form-footer .button-wrap {
    width: 100%;
  }
}
.tablet-and-less {
  display: none;
}

@media screen and (max-width: 1619px) {
  .container {
    width: 1154px;
  }
  h2 {
    font-size: 72px;
    line-height: 87px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: calc(100% - 15px - 15px);
  }
  h2 {
    font-size: 72px;
    line-height: 87px;
  }
}
@media screen and (max-width: 520px) {
  h2 {
    font-size: 48px;
    line-height: 58px;
  }
  .logo-glitched .icon {
    width: 222px;
    height: 24px;
  }
}

/*# sourceMappingURL=main.css.map */